.admin-dashboard {
    height: 85vh;
    display: grid;
    grid-template-rows: 2fr 10fr;
    margin: 1% 5% 0% 5%;
}

/* =========================== Dashboard header ========================*/
.admin-dashboard-header {
    grid-row: 2fr;
    background-color: aqua;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-dashboard-header h2 {
    flex: 5;
    text-align: center;
    text-indent: 20%;
}

.buttons {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-right: 1%;
}

.buttons button {
    grid-column: 1fr;
    width: 88%;
    margin-right: 14%;
    background-color: lightblue;
    height: 40px;
    padding: 1% 3% 1% 3%;
}

/* =========================== Dashboard content ====================== */
.dashboard-content {
    grid-row: 10fr;
    background-color: lightgrey;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 5fr;
    column-gap: 3%;
    padding: 1% 10% 1% 3%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

#left-part {
    grid-column: 3fr;
}

.admin-profile {
    display: flex;
    flex-direction: column;
}

.admin-infos {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, aqua, #fff);
}

.avatar-admin {
    vertical-align: middle;
    margin: 5%;
    padding: 1%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 1px solid #64646448;
    border-spacing: 2em;
}

#username {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.admin-menu {
    background-color: #fff;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

.admin-menu ul {
    list-style-type: none;
    padding-left: 0%;
}

.admin-menu ul a {
    text-decoration: none;
    color: #000;
}

.admin-menu ul li {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    margin-top: 4%;
    padding-left: 10%;
}

.admin-menu ul li:hover {
    background-color: lightgrey;
}

.right-part {
    background-color: #fff;
    grid-column: 2fr;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    border-radius: 2%;
}

/* ================================= Changing classes =========================== */
.active {
    border-left: 5px solid #4daf7c;
    background-color: lightgrey;
    font-weight: bold;
}