.player-list {
    padding: 0% 3% 0% 5%;
    height: 100%;
    color: grey;
}

.player-list h3 {
    font-weight: bold;
    text-align: center;
}

#player-list-wrapper {
    height: 80%;
    border: 2px solid aqua;
    border-radius: 2%;
    padding: 1% 2% 1% 2%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#next-btn {
    align-self: flex-end;
    height: 40px;
    margin-top: 2%;
    margin-right: 1%;
    padding: 0% 4% 0% 4%;
}