.question-add {
    background-color: #fff;
    grid-area: menu-display;
    border-radius: 2%;
    margin: 2% 20% 2% 0%;
    display: flex;
    flex-direction: column;
}

.question-add h3 {
    text-align: center;
}

.question-add-form-wrapper {
    margin-left: 2%;
    margin-right: 5%;
    padding-bottom: 2%;
    border: 1px solid #5fbbf5;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
}

#question-add-form {
    width: 100%;
    margin-top: 4%;
    margin-left: 2%;
    padding-left: 2%;
}

#question-add-form label {
    font-weight: bold;
    color: grey;
}

#question-add-form .form-control {
    width: 95%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#question-add-form input {
    width: 70%;
    height: 40px;
}

#question-add-form select {
    height: 40px;
    width: 100%;
    margin-right: 2%;
}

.inputs {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#answer {
    flex: 10;
}

#check,
#radio {
    flex: 1;
}

#delete-img {
    flex: 1;
    height: 35px;
}

#radio {
    margin-bottom: 2px;
}

.question-add .question-submit {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.question-add #add-btn {
    height: 35px;
    padding: 10px 20px 27px 20px;
    background-color: aqua;
    border: 1px solid aqua;
    margin: 4% 5% 0% 0%;
    align-self: flex-end;
    vertical-align: bottom;
}